.container {
  display: grid;
  grid-template-columns: 1fr 5.625rem;
  gap: 0.5rem;
}

.container input[type='text'] {
  padding-left: 1rem;
  border: none;
  border-radius: 8px;
  background: var(--gray-500);
  color: var(--gray-300);
}

.container input[type='text']:focus {
  color: var(--gray-100);
  outline: none;
  border: 1px solid var(--purple);
}

.container button {
  background: var(--blue-dark);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: 1s;
}

.container button:hover {
  background: var(--blue);
}
